{% extends "layout.html" %}

{% block content %}
<!--<div class="row my-4">
    <div class="col">
        <h2>Add Details to Toughness Database</h2>
    </div>
</div>-->

<div class="row mt-5">
    <!--<aside class="col-md-3 sidenav">
        {# set navlist = ["Project Details", "Pipeline Information", "Tensile Test Data", "Charpy Test Data",
                          "Toughness Test Data", "Commit to Database"] 
        #}
        <div class="list-group">
            {# for item in navlist#}
                <a href="#" class="list-group-item list-group-item-action list-group-item-dark py-4">
                    {# item #}
                </a>
            {# endfor #}
        </div>
    </aside>-->
    <section class="col-md-12">
        {% block page_heading %}
            <div class="row mb-3">
                <div class="col">
                    <h3>{{ form.title }}</h3>
                </div>
            </div>
        {% endblock %}
        <div class="row">
            <div class="col-12">
                {% block formcontent %} 
                    <p class="lead">
                        Guidelines
                    </p>
                    <ul class="list-group w-50">
                        <li class="list-group-item">
                            Have details of Project and Pipelines under the Project
                        </li>
                        <li class="list-group-item">
                            Collect the names of the Pipelines that have Test Data
                        </li>
                        <li class="list-group-item">
                            Have details of the Line Pipe for which Test Data is available. A Line Pipe in this app is uniquely identified by the line name, diameter, wall thickness, weld type, grade, PSL, manufacturer and yer constructed.
                        </li>
                        <li class="list-group-item">
                            Details of Charpy impact are must, having Fracture test is beneficial.
                        </li>
                        <li class="list-group-item">
                            Excel import are currently work in progress.
                        </li>
                        <li class="list-group-item">
                            Follow the step by step procedire by clicking <em>Start</em> button below.
                        </li>
                        <li class="list-group-item">
                            Remember to review before submitting to database.
                        </li>
                    </ul>
                    
                    <div class="form-group d-flex mt-4">
                        <a class="btn btn-primary btn-lg" href="{{ url_for('add_project') }}" role="button">Start</a>
                        <a class="btn btn-secondary btn-lg mx-4 disabled" href="{{ url_for('add_project') }}" role="button" disabled>Import</a>
                        <a class="btn btn-secondary btn-lg" href="{{ url_for('home') }}" role="button">Home</a>
                    </div>
                {% endblock %}
            </div>
        </div>
    </section>
</div>


{% endblock %}
