{% extends "layout.html" %}

{% block content %}
<!--<div class="row my-4">
    <div class="col">
        <h2>Add Details to Toughness Database</h2>
    </div>
</div>-->

<div class="row mt-5">
    <aside class="col-md-3 sidenav">
        {% set navlist = ["Project Details", "Pipeline Information", "Tensile Test Data", "Charyy Test Data",
                          "Toughness Test Data", "Materiak Composition", "Stress Strain Curve",
                          "Submit for Checking", "Commit to Database"] 
        %}
        <div class="list-group">
            {% for item in navlist %}
                <a href="#" class="list-group-item list-group-item-action list-group-item-dark py-4">
                    {{ item }}
                </a>
            {% endfor %}
        </div>
    </aside>
    <section class="col-md-9">
        <div class="row mb-3">
            <div class="col">
                <h3>{{ form.title }}</h3>
            </div>
        </div>
        <div class="row">
            <div class="col">
                {% block formcontent %} 
                    <div class="form-group d-flex mt-4">
                        <a class="btn btn-primary btn-lg" href="{{ url_for('add_project') }}" role="button">Start</a>
                        <a class="btn btn-secondary btn-lg ml-5" href="{{ url_for('home') }}" role="button">Home</a>
                    </div>
                {% endblock %}
            </div>
        </div>
    </section>
</div>


{% endblock %}
