{% extends "layout.html" %}

{% block content %}

<div class="jumbotron mt-3">
    <h1>Toughness DB</h1>
    <p class="lead w-75">
        Toughness App to store pipeline line pipe details and their material properties primarily the toughness and Chapry energies.</p>
    <p><a href="{{ url_for('add') }}" class="btn btn-primary btn-large">Get Started &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            This app provides a simple and dynamic way to add the data per projetc and per line pipe. The app provides a clean simple UI with partial control over the supplied data. Follow the guidelines provided within the app. Make sure to review before submitting. 
        </p>
        <p><a class="btn btn-link" href="{{ url_for('add') }}">Add Test Data &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Analysing data</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. In praesentium sunt ad ipsum fugit rerum nam provident repellat magni fugiat necessitatibus delectus aliquam, alias incidunt quibusdam a magnam voluptatem dolore.</p>
        <p><a class="btn btn-link" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Interoperability</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quam vel velit rem sint cupiditate nesciunt doloribus earum numquam sed. Excepturi quod magnam quam laborum accusantium! Beatae unde dolorum sunt.
        </p>
        <p><a class="btn btn-link" href="#">Learn more &raquo;</a></p>
    </div>
</div>

{% endblock %}
