{% extends "add.html" %}

{% from "forms/_form_macros.html" import render_radio, render_accord_form_item, render_form_item_cols, render_inline_radio %}



{% block formcontent %}

<form action="/add/pipeline/{{line_name}}" method="POST" id="pipeline-form">
    {{form.csrf_token}}
    <div class="accordion" id="accordion-pipeline-info">
        <div class="card">
            <div class="card-header" id="dimensions">
                <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse-dimensions">
                        Line Pipe
                    </button>
                </h2>
            </div>

            <div id="collapse-dimensions" class="collapse show" data-parent="#accordion-pipeline-info">
                <div class="card-body">
                    <div class="mb-3">
                        <div>
                            {{ render_inline_radio(form.diameter_units) }}
                        </div>
                        <div>
                            {{ render_inline_radio(form.thickness_units) }}
                        </div>
                    </div>
                    {{ render_form_item_cols(form.line_pipes, col_md=[2, 2, 1, 2, 1, 2, 2]) }}
                    
                </div>
            </div>
        </div>


        <div class="card">
            <div class="card-header" id="design">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse-design">
                        Design
                    </button>
                </h2>
            </div>
            <div id="collapse-design" class="collapse" data-parent="#accordion-pipeline-info">
                <div class="card-body">
                    {{ render_accord_form_item(form.design_code) }}
                    {{ render_accord_form_item(form.design_press, form.design_press_units) }}
                    {{ render_accord_form_item(form.design_temp, form.design_temp_units) }}
                    <div class="form-row">
                        <div class="col-md-2">
                            {{ render_accord_form_item(form.design_life, add_rem_btn=False, col_md=12) }}
                        </div>
                        <div class="col-md-2">
                            {{ render_accord_form_item(form.year_commissioned, item_name="Year Commissioned", add_rem_btn=False, col_md=12) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="card">
            <div class="card-header" id="operation">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse-operation">
                        Operation
                    </button>
                </h2>
            </div>
            <div id="collapse-operation" class="collapse" data-parent="#accordion-pipeline-info">
                <div class="card-body">                    
                    {{ render_accord_form_item(form.oper_press, form.oper_press_units) }}
                    {{ render_accord_form_item(form.oper_temp, form.oper_temp_units) }}
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header" id="hydrotest">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse-hydrotest">
                        Hydrotesat
                    </button>
                </h2>
            </div>
            <div id="collapse-hydrotest" class="collapse" data-parent="#accordion-pipeline-info">
                <div class="card-body">                    
                    {{ render_accord_form_item(form.test_press, form.test_press_units) }}
                    {{ render_accord_form_item(form.test_year) }}
                </div>
            </div>
        </div>

    </div>

    <div class="form-group d-flex mt-4">
        <button id="reset-btn" class="btn btn-warning mr-auto" type="reset" onclick="resetForm()">Reset</button>
        {% if no_lines == 1 %}
            <a role="button" class="btn btn-secondary mr-2" href="{{ url_for('add_project') }}">Back</a>
        {% else %}
            <a role="button" class="btn btn-secondary mr-2" href="{{ url_for('show_pipelines') }}">Cancel</a>
        {% endif %}
        {{ form.go_next(typ="button", class=" btn btn-primary") }}
    </div>
</form>

{% if form.errors %}
{{ form.errors }}
{% endif %}

{% endblock %}

{% block scripts %}


<script type="text/javascript">

addEventToFieldBtn('year_constructed');
addEventToFieldBtnMulti('line_pipes');
addEventToFieldBtn('design_code');
addEventToFieldBtn('design_press');
addEventToFieldBtn('design_temp');
addEventToFieldBtn('oper_press');
addEventToFieldBtn('oper_temp');
addEventToFieldBtn('test_press');

function resetForm() {
    document.getElementById('project-form').reset();
    console.log('reset');
}

</script>
{% endblock %}