{% extends "add.html" %}

{% block formcontent %}

<form action="/spools" method="POST">
    {{ form.csrf_token }}
    {% for pipeline in pipelines %}
    {% if pipeline["name"] %}
        <h5><label>{{ pipeline["name"] }}</label></h5>
    {% else %}
        <h5><label>{{ pipeline["short_name"] }}</label></h5>
    {% endif %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Line Name</th>
                <th scope="col">Spool</th>
                <th scope="col">Action</th>
                <!--TODO: Add status-->
            </tr>
        </thead>
        <tbody>
            {% for spool in pipeline["spools"] %}
            <tr>
                <th scope="row">1</th>
                <td>{{ pipeline["short_name"] }}</td>
                <td>{{ spool.replace("_"," ") }}</td>
                <td>
                    <a class="btn btn-secondary btn-sm" href="{{ url_for('add_test_data', line_name=pipeline['short_name'], spool=spool) }}">
                        Add Test Info
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endfor %}


    <div class="form-group d-flex mt-4">
        
        <a role="button" class="btn btn-secondary ml-auto mr-2" href="/pipelines">Back</a>
        {{ form.go_next(class="btn btn-primary") }}
    </div>
</form>

{% endblock %}